body{
    border: 0;
    margin: 0;
}
.top-menu{
    /* padding: 1rem; */
    background-color: rgb(55, 55, 126);
}
.top-menu-list{
    display: flex;
    justify-content: end;
    font-size: 30px;
    color: white;
    font-family: Arial;
    font-weight: 300;
}
.top-menu-list p{
    padding: 0px 20px 0 20px;
}
.top-menu-list p:hover{
    text-decoration: underline;
    cursor: pointer;

}
.new-castle-log-section{
    background-color: #1c1c1c;
    background-image: url("/hero-supporting-postgraduate-careerâ\ new\ _¯.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    padding-bottom: 8rem;

   
}
.new-castle-menu-bar{
    display: flex;
    padding-top: 4rem;
}
.logo-icon{
    /* background-color: aquamarine; */
    flex: 0.2;
    height: 100px;
    width: auto;
}
.new-castle-menu{
    /* background-color: red; */
    display: flex;
    flex: 0.8;
    justify-content: end;
    
}
.new-castle-menu div{
 padding: 0 2rem 0 1rem;   
}
.new-castle-menu div:hover{
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    
}

.Undergraduate-open-days-23{
    font-size: 170px;
    font-family: Arial;
    color: white;
    font-weight: 600;
    padding-left: 3rem;
}
.book-your-place{
    margin: 0 0 0 4rem;
    
}
.book-your-place button{
    background-color: transparent;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    width: 40rem;
    color: white;
    cursor: pointer;
}
@keyframes enlargeforwardicon {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(10px,0);
    }
}
.book-your-place button:hover{
    background-color: black;
    border: 1px solid black;
    /* transform: translate(); */
    
}
.book-your-place button:hover i{
    animation:enlargeforwardicon 0.5s;
    /* animation-delay: 0ms; */
}
.sign-up-to-creat{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma,Geneva, Verdana, sans-serif;
    color: white;
}

.search-for-course{
    background-color:#4a4a4a ;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 5rem;
    padding-top: 3rem;
}
.search-but-div{
    display: flex;
    padding: 3rem 5rem 0 0rem;
    justify-content: space-between;
    background: color 0;
}
.search-for-course-button1{
background-color: aliceblue;
flex: 0.35;
font-size: 30px;
}
.search-for-course-button2{
    background-color: antiquewhite;
    flex: 0.65;
    font-size: 30px;
}
.search-for-course-icon{
    background-color: aquamarine;
    font-size: 30px;
    flex: 0.05;
}
.view-section{
    background-color:#1c1c1c;
    display: flex;
    color: white;
    font-size: 30px;
}

.view-section p{
    padding: 0 5rem 0 5rem;
}
.view-section p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.claering-support-international{
    background-color: white;
    display: flex;
}
.clearing2023{
    background-color: blue;
    background-image: url("/dual-homepage-clearing.png");
    color: white;
    font-size: 50px;
    background-repeat: no-repeat;
    padding: 15rem 0 1rem 2rem;
    margin: 1.5rem;
    width: 100vw;
    flex: 0.5;
    background-size: 50vw;
}
.Support-us{
    background-color: aqua;
    background-image: url("/support-us.jpg");
    color: white;
    font-size: 50px;
    margin: 1.5rem;
    background-repeat: no-repeat;
    padding: 15rem 0 1rem 2rem;
    flex: 0.5;
    background-size: 50vw;
}

.International_late-application-and-clearing{
    background-color: white;
    background-image: url("/promo-banner-international.jpg");
    font-size: 50px;
    margin: 1.5rem;
    background-repeat: no-repeat;
    padding: 15rem 0 10rem 2rem;
    color: white;
    background-size: 100vw;
    font-weight: 500;
}
.apply-div{
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
}

.who-we-are{
    background-color: white;
    background-image: url("/promo-banner-who-we-are.jpg");
    color: white;
    font-size: 50px;
    /* margin: 1.5rem; */
    background-repeat: no-repeat;
    flex: 0.5;
    background-size: 100vw;
    padding: 10rem 0 5rem 2rem;
    background-position: center;
    
}
.who-we-are-button{
    background-color: green;
    color: white;
    font-size: 50px;
    height: 100px;
    width: auto;
    justify-items: end;     
}
.latest-news{
    background-color: white;
}
.Funding-winner-norhtern{
    display: flex;
    font-size: 30px;
    color: #1c1c1c;
    margin: 1rem;
}
.Funding-winner-norhtern img{
    font-size: 500px;
    width: 30vw;
}
.funding{
    /* background-color: grey; */
    margin: 1rem;
    flex: 0.3;
}
.Winners{
    /* background-color: brown; */
    margin: 1rem;
    flex: 0.3;
}
.Northern{
    /* background-color: palevioletred; */
    margin: 1rem;
    flex: 0.4;
}
.Funding-winner-norhtern h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
.read-more{
    background-color: white;
    padding: 10rem 0 20rem 5rem;
    
    
}
.readmore-button{
    background-color: white;
    color: grey;
    font-size: 30px;
    height: 70px;
    width: 800px;
    text-align: start;
    border-radius: 0.5rem;
}
.readmore-button:hover{
    background-color: grey;

}
.our-research-work-with-us{
    /* background-color: pink; */
    display: flex;
    
}
.our-research{
    /* background-color: navy; */
    flex: 0.5;
    margin: 1rem;
    background-image: url("/dual-homepage-research.jpg");
    font-size: 40px;
    color: white;
    padding: 15rem 0 5rem 5rem;
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: center;
    background-color: #1c1c1c;
    background-color: #3e3e3e;
    /* background-image: url("/hero-supporting-postgraduate-careerâ\ new\ _¯.jpg"); */
    background-size: cover;
    background-blend-mode: overlay;
    padding-bottom: 8rem;
    
}
.Work-with-us{
    background-color: aquamarine;
    flex: 0.5;
    margin: 1rem;
    background-image: url("/dual-homepage-workwith.jpg");
    font-size: 40px;
    color: white;
    padding: 15rem 0 5rem 5rem;
    background-repeat: no-repeat;
    background-size: 50vw;
}
.Study-with-Us{
    background-color: red;
    background-image: url("/ribbon-study-homepage.jpg");
    color: white;
    font-size: 50px;
    /* margin: 1.5rem; */
    background-repeat: no-repeat;
    flex: 0.5;
    background-size: 100vw;
    padding: 10rem 0 5rem 2rem;
}
.footer-div{
    background-color: #dcdcdc;
    display: flex;
    color:black;
    font-size: 30px;
    justify-content: space-between;
    padding: 3rem;
}

.footer-div p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-div h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.msg-icon p:hover{
    background-color: blue;
    color: white;
    padding: 2rem;
    border-radius: 50%;
    font-size: 2.5rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}
.message-info-icon{
    background-color: white;
    width: auto;
    height: 8rem;
    width: 20rem;
    margin: 5rem 0 0 0;
    position: fixed;
    bottom: 15rem;
    right: 3rem;
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 40px;
}
.logo-img-div{
    height: 100%;
    width: 100%;
    position: relative;
}
.logo-img-div img{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 37%;
    top: -5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;


}
